<!DOCTYPE html>
<html>
  <head>
    <title>AirQualityApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col justify-between">
        
    <header class="bg-gray-500 text-white shadow-lg">
        <nav class="mx-auto flex max-w-7xl items-center justify-between gap-x-6 p-6 lg:px-8" aria-label="Global">
            <h1 class="font-bold md:text-2xl m-0">
                WAQI Essentials
            </h1>
                <div class="flex flex-1 items-center justify-end gap-x-6">
                <p class="text-white text-sm font-semibold leading-6">City Feed</p>
                <p class="text-white text-sm font-semibold leading-6">Search</p>
            </div>
        </nav>
    </header>

    <main>
        <div class="max-w-7xl mx-auto p-6 lg:px-8 prose">
            <%= yield %>
        </div>
    </main>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['line']});
        var forecast = document.getElementById('line_top_x').getAttribute('data-forecast')
        if(forecast.length) {
            google.charts.setOnLoadCallback(drawChart);
        }

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Ozone (o3)');
            data.addColumn('number', 'Particulate Matter 10 (pm10)');
            data.addColumn('number', 'Particulate Matter 25 (pm25)');
            data.addRows(JSON.parse(forecast));

            var options = {
                width: 900,
                height: 500,
                axes: {
                    x: {
                        0: {side: 'top'}
                    }
                }
            };

            var chart = new google.charts.Line(document.getElementById('line_top_x'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
  </body>
</html>
